<div class="jumbotron center">
     <h1>Take the Standup Desk Survey Now!</h1>
     <% if user_signed_in? %>
        <%= link_to "Start Survey", new_standupdesk_path, class: "btn btn-info btn-lg" %>
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>