<div class="well">
	<% if user_signed_in? %>
		<h3>Employees who would like a StandUp Desk:</h3>
		<p><%= pie_chart Standupdesk.group(:deskwant).count %></p>
		<br />
		<h3>Dallas vs. Panama City</h3>
		<p><%= pie_chart Standupdesk.group(:desklocation).count %></p>
	<% else %>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	<% end %>
</div>