<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Complete the Survey, <%= current_user.name %>!</h1>
	</div>
	<div class="panel-body">
		<%= render 'formBootstrap' %>
		<%= link_to 'Back', :back %>
	</div>
</div>